<div class="repost-info">
  <%= link_to username_path(t.author.username), class: "author", target: "_top" do %>
    <span class="display-name"><%= t.author.display_name %></span> Reposted
  <% end %>

  <%= render "tweets/creator_info", t: original, more_info: true %>
  <%= render "tweets/tweet_body", t: original %>

  <div class="activity-box flex">
    <%= render "comments/comments", t: original %>

    <span class="reposts">
      <%= render "tweets/reposts", t: original, self_rt: t %>
    </span>

    <span class="likes">
      <%= render "tweets/likes", t: original %>
    </span>


    <span class="bookmarks">
      <%= render "tweets/bookmarks", t: original %>
    </span>
  </div>
</div>
