<% internal_post.each do |post|%>
  <div class="max-w-md h-fit p-3 rounded-xl m-1 rounded-<%= sender_corner %>-none <%= message_align %> text-white <%= post_bg_color %> break-words" data-controller="scroller" id="<%= message_comment.id %>">
    <div class="max-w-md h-fit p-3 rounded-xl m-1 rounded-<%= sender_corner %>-none <%= message_align %> text-white <%= post_bg_color %> break-words" data-controller="scroller">
      <%= link_to single_post_path(username: post.author.username, id: post.id), class: "message-post text-white", target: :_top  do %>
        <span class="display-name "><%= post.author.display_name %></span>
        <span class="icon-lock "><%= lock_icon_svg if post.author.account.private_visibility %></span>
        <span class="display-username "><%= "@#{post.author.username}" %></span>
        <span> · </span>
        <span> <%= formatted_time_ago(post.created_at) %></span>
        <div><%= markdown(post) %></div>
      <% end %>
    </div>
  </div>
<% end %>

<% extracted_comment = message_comment.extract_msg_comment %>

<% if extracted_comment.size < 1 %>
<% elsif extracted_comment.size == 1 %>
  <div class="max-w-md h-fit p-3 rounded-xl m-1 rounded-<%= sender_corner %>-none <%= message_align %> text-white <%= bg_color %> break-words" data-controller="scroller">
    <%= auto_link(extracted_comment.first) %>
  </div>
<% elsif extracted_comment.size > 1 %>
  <div class="max-w-md h-fit p-3 rounded-xl m-1 rounded-<%= sender_corner %>-none <%= message_align %> text-white <%= bg_color %> break-words" data-controller="scroller">
    <%= auto_link(message_comment.urlize, html: {class: "underline hover:decoration-2"}) { |text| text.gsub(/https?:\/\//, "").truncate(20) } %>
  </div>
<% end %>
