<%#= turbo_stream_from "messages" %>

<div class="grid">
  <div class="new-message flex-none w-14">
    <%= link_to "New Message", new_message_path %>
  </div>

  <div class="new-message flex-initial w-48">
    <%= link_to "new conversation", new_conversation_path, data: { turbo_frame: "modal", turbo_action: :advance} %>
  </div>

  <div class="messages-list flex-initial w-56">
    <%= turbo_frame_tag "conversations", data: { turbo_permanent: true }, class: "flex-auto" do %>
        <% @conversations.ordered.each do |c| %>
          <%= render "conversations/single_conversation_preview", conversation: c %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="">
  <%= turbo_frame_tag "messages", data: { turbo_permanent: true }, class: "flex-col" do %>
    <%= render "conversations/empty_page" %>
  <% end %>
</div>
