<div data-controller="post turbo-modal" class="post-form z-20" data-post-target="modal">
  <%= inline_svg_tag("svg/x-close.svg", class: "close-button fill-text stroke-text", data: {action: "click->turbo-modal#close"}) %>

  <%= form_with model: Quote.new, url: quotes_path(id: repost), data: {action: "turbo:submit-end->post#clear turbo:submit-end->turbo-modal#close"} do |f| %>
    <div class="area-box" >
      <%= f.text_area :body, placeholder: "What is happening?!", :rows => 4 , :cols => 50, data: {controller: "autogrow", "post-target": "area", "action": "input->post#update" }, autofocus: true %>
    </div>

    <%# Counter start %>
      <div class="flex justify-end pr-4 text-base h-6">
        <div class="counter relative text-white" data-post-target="counter" data-action="input->post#showCount"></div>
      </div>
    <%# Counter end %>

    <%# Original post start %>
    <div class= "origin-post">
      <%= render partial:"posts/creator_info", locals: {post: repost, more_info: false} %>
      <%= render partial:"posts/post_body", locals: {post: repost} %>
    </div>
    <%# Original post end %>

    <%# Submit button start %>
      <div class="post-button relative top-6 flex justify-end" data-post-target="submit">
        <%= f.submit "Quack", class: "fake-submit-post disabled cursor-default focus:outline-none focus:shadow bg-orange-500 text-white font-bold py-2 px-4 rounded enabled:hover:brightness-125 disabled:opacity-60" %>
      </div>
    <%# Submit button end %>
  <% end %>
</div>
