<%= render "tweets/creator_info", t: t %>
<div class="tweet-info">

  <%= render "tweets/tweet_body", t: t %>

  <% if !original %>
    <%= render "tweets/deleted_tweet", t: original, view: view %>
  <% else %>
    <%= turbo_frame_tag "tweet_#{original.id}", class: "quoted" do %>
      <div class="tweet">
        <%= render "tweets/creator_info", t: original %>
        <%= render "tweets/tweet_body", t: original %>
      </div>
    <% end %>
  <% end %>
  <div class="activity-box">
    <%= render "comments/comments", t: t %>

    <span class="retweets">
      <%= render "retweets/retweets", t: t %>
    </span>

    <span class="likes">
      <%= render "likes/likes", t: t %>
    </span>

  </div>

  <% if view.in?([:single_post, :timeline]) %>
    <div class="nested-comments">
      <%= render "comments/show_comments", t: t, view: view %>
    </div>
  <% end %>

</div>
