<% show_view = false if local_assigns[:show_view].nil? %>

<%= turbo_frame_tag "tweet_#{t.id}" do %>
  <div class="tweet">
    <% if @show_replies %>
      Replying to
      <%= link_to "@#{t.original.author.username}", username_path(t.original.author.username), data: {turbo: false} %>
    <% end %>

    <%= render "tweets/creator_info", t: t, more_info: true %>
    <%= render "tweets/tweet_body", t: t %>

    <div class="activity-box">
      <%= render "comments/comments", t: t %>

      <span class="retweets">
        <%= render "retweets/retweets", t: t %>
      </span>

      <span class="likes">
        <%= render "likes/likes", t: t %>
      </span>

      <span class="share">
        <%= render "tweets/share", t: t, show_view: show_view %>
      </span>
    </div>

    <% if (t.depth % 11 == 0) %>
      <%= link_to "Continue reading", single_tweet_path(username: t.author.username, id: t.id), target: :_top %>
    <% else %>
      <% t.comments.each do |tweet| %>
        <%= render "comments/comment_tweet_info", t: tweet %>
      <% end %>
    <% end %>
    <%# <%= render t.comments %> %>

  </div>
<% end %>
