<% show_view = false if local_assigns[:show_view].nil? %>
<% show_reply = false if local_assigns[:show_reply].nil? %>

<% if post.deleted_at %>
  <div class="post" >
    <p>This Post has been deleted.</p>

    <% post.comments.each do |comment| %>
      <%= render partial: "comments/comment_post_info", locals: { post: comment } %>
    <% end %>
  </div>
<% elsif post.author.account.has_blocked?(current_user) %>
  <div class="thread flex flex-[1_0_100%]">
    <button class="collapse-line rounded-full flex items-middle p-0.5 hover:brightness-200 bg-accent2 border-solid border-transparent border-8 bg-clip-padding" data-controller="misc" data-action="click->misc#toggleReplies">
      <%= expand_replies_icon %>
    </button>
    <%= turbo_frame_tag "post_#{post.id}", class: "turbo-nested flex-1" do %>
      <div class="break-words my-2.5">This Post is unavailable because @<%= post.author.username %> blocked you.</div>
      <% post.comments.each do |comment| %>
        <%= render partial: "comments/comment_post_info", locals: { post: comment } %>
      <% end %>
    <% end %>
  </div>
<% elsif current_user.account.has_blocked?(post.author) %>
  <div class="thread flex flex-[1_0_100%]">
    <% unless post.original.author.account.has_blocked?(current_user) %>
      <button class="collapse-line rounded-full flex items-middle p-0.5 hover:brightness-200 bg-accent2 border-solid border-transparent border-8 bg-clip-padding" data-controller="misc" data-action="click->misc#toggleReplies">
        <%= expand_replies_icon %>
      </button>
    <% end %>
    <%= turbo_frame_tag "post_#{post.id}", class: "turbo-nested flex-1" do %>
      <div class="break-words my-2.5">
        This Post belongs to @<%= post.author.username %>, which you blocked.
      <%= link_to "View Post", view_blocked_single_post_path(id: post.id), data: {turbo_stream: true}, class: "bg-accent2 p-1 rounded-md" %>
      </div>
    <% end %>
  </div>
<% else %>
    <div class="thread flex flex-[1_0_100%]">
      <button class="collapse-line rounded-full flex items-middle p-0.5 hover:brightness-200 bg-accent2 border-solid border-transparent border-8 bg-clip-padding" data-controller="misc" data-action="click->misc#toggleReplies">
        <%= expand_replies_icon %>
      </button>
      <%= turbo_frame_tag "post_#{post.id}", class: "turbo-nested flex-1" do %>
        <div class="post pl-2">
          <% if show_reply %>
            Replying to
            <%= link_to "@#{post.original.author.username}", username_path(post.original.author.username), data: {turbo: false} %>
          <% end %>

          <%= render partial: "posts/creator_info", locals: { post: post } %>

          <div class="post-info">

            <%= render partial: "posts/post_body", locals: { post: post } %>

            <div class="activity-box flex">
              <%= render partial: "comments/comments", locals: { post: post } %>
              <%= render partial: "posts/reposts", locals: { post: post } %>
              <%= render partial: "posts/likes", locals: { post: post } %>
              <%= render partial: "posts/bookmarks", locals: { post: post } %>
              <%= render partial: "posts/share", locals: { post: post, show_view: show_view } %>
              <%= render partial: "posts/more_info_button", locals: {post: post} %>
            </div>

            <% if post.depth % 11 == 0 %>
              <%= link_to "Continue reading", single_post_path(username: post.author.username, id: post.id), target: "_top" %>
            <% else %>

            <% if post.comments.size > 0 %>
              <div class="nested-comments">
                <%= render partial: "comments/show_comments", locals: { post: post, view: show_view } %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>
