<div class="flex flex-col p-3">
  <% if conversation.is_a?(User) %>
    <div><%= conversation.username %></div>
    <div class="text-sm">@<%= conversation.display_name %></div>
  <% elsif conversation.name.nil? %>
    <div class="">
      <% other_user = conversation.members.excluding(current_user).first %>
      <div><%= other_user.display_name %></div>
      <div class="text-sm">@<%= other_user.username %></div>
      <div class="text-sm"><%= "You follow each other" if current_user.mutual_with?(other_user) %></div>
    </div>
    <% else %>
    <div><%= conversation.name %></div>
  <% end %>
</div>
