<%= turbo_stream_from "#{current_user&.to_gid_param}:#{conversation&.to_gid_param}" %>

<% conversation.messages.ordered.each do |m| %>
  <% if current_user == m.sender %>
    <% bg_color = "bg-indigo-500" %>
    <% sender_corner = "br" %>
    <% message_align = "self-end" %>
  <% else %>
    <% bg_color = "bg-gray-500" %>
    <% sender_corner = "bl" %>
    <% message_align = "self-start" %>
  <% end %>


  <div class="max-w-md h-fit p-3 rounded-xl m-1 rounded-<%= sender_corner %>-none <%= message_align %> text-white <%= bg_color %> break-words" id="<%= m.id %>" data-controller="scroller">
    <%= auto_link(m.urlize, html: {class: "underline hover:decoration-2"}) { |text| text.gsub(/https?:\/\//, "") } %>
  </div>
<% end %>


