<%= link_to conversation_path(id: conversation.id), data: {turbo_frame: "messages", turbo_action: :advance}, class: "flex" do %>
  <div class="flex flex-col h-12 hover:bg-slate-100">
    <% if conversation.name.nil? %>
      <div>
        <% if current_user == conversation.members.first %>
          <%= conversation.members.second.display_name %>
        <% else %>
          <%= conversation.members.first.display_name %>
        <% end %>
      </div>
      <% else %>
      <div><%= conversation.name %></div>
    <% end %>
    <div class="last-msg-preview truncate">
       <%= conversation.messages.last.body if conversation.messages.size > 0 %>
    </div>
  </div>
<% end %>
