  <div class="creation-info">
    <div class="tweet-info">

      <%= link_to username_path(t.author.username), class: "author", target: :_top  do %>
        <span class="display-name"><%= t.author.display_name %></span>
        <span class="icon-lock"><%= lock_icon_svg if t.author.account.private_visibility %></span>
        <span class="display-username"><%= "@#{t.author.username}" %></span>
      <% end %>

      <span> · </span>
      <%= link_to formatted_time_ago(t.created_at), single_tweet_path(username: t.author.username, id: t.id), class: "created-time", target: :_top %>
    </div>

    <% more_info = true if local_assigns[:more_info].nil? %>
    <% if more_info %>
      <div class="more-info-button">
        <%= render "tweets/more_info_button", t: t %>
      </div>
    <% end %>
  </div>
