<div class="dropdown" data-controller="dropdown" data-action="click->dropdown#dropMenu">

  <button><%= more_info_svg %></button>

  <div class="dropdown-content more-info" data-dropdown-target="menu">
    <div class="backdrop"></div>
    <% if t.author == current_user %>
        <%= render "tweets/delete_button", t: t %>
      <div class="menuitem">
      </div>
      <div class="menuitem">Pin to your profile</div>
      <div class="menuitem">Change who can reply</div>
      <div class="menuitem">View analytics</div>
    <% elsif t.author != current_user && current_user.following?(t.author) %>
      <div class="menuitem">
        <% if current_user.account.has_blocked?(t.author)%>
          <%= render "blocks/unblock", user: t.author %>
        <% else %>
          <%= render "blocks/block", user: t.author %>
        <% end %>
      </div>
    <% else %>
      <div class="menuitem">
        <% if current_user.account.has_blocked?(t.author)%>
          <%= render "blocks/unblock", user: t.author %>
        <% else %>
          <%= render "blocks/block", user: t.author %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
