<% if false %>
<span id="quote-tweet">
  <%= button_to compose_tweet_url, params: { quote_tweet: { retweet_id: t.id } }, remote: true, class: "quote-button", method: :get, data: { turbo_frame: "compose_modal" } do %>
    <%= content_tag(:span, quote_icon_svg) %>
    <%= content_tag(:span, "Quote Tweet", class: "quote-text") %>
  <% end %>
</span>
<% end %>

<span id="quote-tweet">
  <%= button_to compose_tweet_url, params: { quote_tweet: { retweet_id: t.id } }, class: "quote-button", method: :get, data: { turbo_frame: "modal" } do %>
    <%= content_tag(:span, quote_icon_svg) %>
    <%= content_tag(:span, "Quote Tweet", class: "quote-text") %>
  <% end %>
</span>

