<%= link_to username_path(t.author.username), class: "author" do %>
  <div class="retweet-info">
    <% original_tweet = t.og_tweet %>
    <span class="display-name"><%= t.author.display_name %></span> Retweeted
    <%= render "tweets/creator_info", t: original_tweet %>
    <%= render "tweets/tweet_body", t: original_tweet %>
    <div class="activity-box">
      <%= render "tweets/comments", t: original_tweet %>
      <%= render "tweets/retweets", t: original_tweet %>
      <span class="likes">
        <%= render "likes/likes", t: original_tweet %>
      </span>

    </div>
  </div>
<% end %>
