<div class="tweet">
  <%= link_to username_path(t.author.username), :class => "author" do %>
    <div class="creation-info">
      <span id="display-name"><%= t.author.display_name %></span>
      <span id="icon-lock"><%= lock_icon_svg if t.author.account.private_visibility %></span>
      <span id="display-username"><%= "@#{t.author.username}" %></span>
      <span> · </span>
      <%= link_to formatted_time_ago(t.created_at), single_tweet_url(username: t.author.username, id: t.id) %>
    </div>
  <% end%>
    <div id="tweet-body" >
        <a onclick="window.location = '<%= single_tweet_url(username: t.author.username, id: t.id) %>'">
        <div><%= t.body %></div>
        </a>
    </div>

    <% if current_user.liked_tweets.where(tweet_id: t).exists? %>
      <div id="unlike">
          <%= button_to "</3", like_path(username: current_user.username, id: current_user.liked_tweets.find_by(tweet_id: t.id)), params: { like: { tweet_id: t.id } }, method: :delete %>
      </div>
    <% else %>
      <div id="like">
          <%= button_to "<3", likes_path(username: current_user.username), params: { like: { tweet_id: t.id } }, method: :post %>
      </div>
    <% end %>

</div>
