<% notifications_view = false if local_assigns[:notifications_view].nil? %>
<% show_view = false if local_assigns[:show_view].nil? %>

<% if t %>
  <%= turbo_frame_tag "tweet_#{t.id}" do %>
    <div class="tweet">
      <% if t.retweet? %>
        <%= render "retweets/retweet_info", t: t %>
      <% elsif t.quote_tweet? %>
        <%= render "quotes/quote_tweet_info", t: t, qrt: t.original, show_rt: true, notifications_view: notifications_view %>
      <% else %>
        <%= render "tweets/tweet_info", t: t, show_view: show_view %>
        <% if !notifications_view %>
          <%= render "comments/show_comments", t: t %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render "tweets/page_not_available" %>
<% end %>


<%# check for if the user is following any of the accounts of the comments %>
