<% if t %>
  <%= turbo_frame_tag "tweet_#{t.id}" do %>
    <div class="tweet">
      <% if t.retweet? %>
        <%= render "tweets/retweet_info", t: t %>
      <% elsif t.comment? %>
        <% return %>
      <% elsif t.quote_tweet? %>
        <%= render "tweets/quote_tweet_info", t: t, qrt: t.quote, show_rt: true %>
      <% else %>
        <%= render "tweets/creator_info", t: t %>
        <%= render "tweets/tweet_body", t: t %>
        <div class="activity-box">
          <%= render "tweets/comments", t: t %>

          <span class="retweets">
            <%= render "tweets/retweets", t: t %>
          </span>

          <span class="likes">
            <%= render "likes/likes", t: t %>
          </span>
        </div>
        <% if @show_replies %>
          <% if t.comments.size >= 3 %>
            <%= link_to "Show more replies", single_tweet_url(username: t.author.username, id: t.id), data: {turbo: false} %>
            <% if session[:new_comment] == 1 %>
              <% t.comments[-3..-2].each do |tweet| %>
                <%= render "tweets/comment_tweet_info", t: tweet %>
              <% end %>
            <% else %>
              <% t.comments.last(2).each do |tweet| %>
                <%= render "tweets/comment_tweet_info", t: tweet %>
              <% end %>
            <% end %>
          <% elsif t.comments.size == 2 && session[:new_comment] == 1 %>
            <%= render "tweets/comment_tweet_info", t: t.comments.last(2).first %>
          <% elsif session[:new_comment] == 1 || (!t.new_tweet?(@tweets) && t.just_updated?) %>
          <% elsif (!t.new_tweet?(@tweets) && !t.just_updated?) %>
            <% t.comments.each do |tweet| %>
                <%= render "tweets/comment_tweet_info", t: tweet %>
            <% end %>
          <% end %>
        <% else %>
          <% t.comments.each do |tweet| %>
            <%= render "tweets/comment_tweet_info", t: tweet %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render "tweets/page_not_available" %>
<% end %>


<%# check for if the user is following any of the accounts of the comments %>
