<%= turbo_frame_tag "tweet_#{t.id}" do %>
  <div class="tweet">
    <% if !t.body && t.retweet_id %>
      <%= render "tweets/retweet_info", t: t %>
    <% elsif t.body && t.retweet_id %>
      <%= render "tweets/quote_tweet_info", t: t %>
    <% else %>
      <%= render "tweets/creator_info", t: t%>
      <%= render "tweets/tweet_body", t: t %>
      <div class="activity-box">
        <%= render "tweets/retweets", t: t %>
        <%= render "tweets/likes", t: t %>
      </div>
    <% end %>
  </div>
<% end %>
