<% if t.deleted_at.nil? %>
    <%= turbo_frame_tag "tweet_#{t.id}", data: {controller: "misc" } do %>
      <article class="tweet border-b border-b-accent2 m-0 bg-secondary text-text hover:brightness-125 hover:shadow-accent ease hover:shadow-centered" data-action="click->misc#postClick">
        <a class="hidden" onclick="window.location = '<%= single_tweet_path(username: t.author.username, id: t.id) %>'"></a>
        <% if t.retweet? %>
          <%= render "retweets/retweet_info", t: t, original: original %>
        <% elsif t.quote_tweet? %>
          <%= render "quotes/quote_tweet_info", t: t, original: original, show_rt: true, view: view %>
        <% else %>
          <%= render "tweets/tweet_info", t: t, view: view %>
          <% if view.in?([:single_post, :timeline]) %>
            <div class="nested-comments">
              <%= render "comments/show_comments", t: t, view: view %>
            </div>
          <% end %>
        <% end %>
      </article>
    <% end %>
<% else %>
  <%= render "tweets/deleted_tweet", t: t, view: view  %>
<% end %>

<%# check for if the user is following any of the accounts of the comments %>
