<%= render "tweets/creator_info", t: t %>
<div class="tweet-info">
  <%= render "tweets/tweet_body", t: t %>

  <div class="activity-box">
    <%= render "comments/comments", t: t %>
    <%= render "retweets/retweets", t: t %>
    <%= render partial: "tweets/likes", locals: {t: t} %>

    <% if view == :single_post %>
      <%= render "bookmarks/bookmark_count", t: t %>
    <% end %>

    <%= render "tweets/share", t: t, view: view %>
  </div>
</div>
