
<% if current_user.created_at > (0.2).seconds.ago %>
  <%= render "users/profile_form" %>
<% end %>

<div><%= render "tweet_form" %></div>

<% @tweets.each do |t| %>
  <div>
    <%= link_to t.author.username, username_path(t.author.username), user: t.author, :class => "author" %>
    <%= t.body %>
  </div><br />
<% end %>

<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
