<div><%= button_to "Home" %></div>
<div><%= button_to "Explore" %></div>
<div><%= button_to "Notifications", notifications_path, method: :get %></div>
<div><%= button_to "Messages" %></div>
<div><%= button_to "Bookmarks" %></div>
<div><%= button_to "Profile", username_path(current_user.username), method: :get %></div>
<div><%= button_to "Settings" %></div><br />


<div><%= render "tweet_form" %></div>

<% Tweet.all.each do |t| %>
  <div>
    <%= link_to User.find_by(id: t.user_id).username, username_path(User.find_by(id: t.user_id).username) %>
    <%= t.body %>
  </div><br />
<% end%>

<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
