
      <% if current_user.created_at > 5.seconds.ago %>
        <%= "HELLO NEW VIS" %>
      <% end %>

<div><%= render "tweet_form" %></div>

<% Tweet.all.each do |t| %>
  <div>
    <%= link_to t.author.username, username_path(t.author.username), user: t.author, :class => "author" %>
    <%= t.body %>
  </div><br />
<% end%>

<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
