
  <%= turbo_frame_tag "modal" do %>
    <div class="backdrop"></div>
    <% if session[:refresh] && session[:retweet_id].present? && !params[:parent_tweet_id] %>
    <%= render "quotes/quote_form", rt: @retweet %>
    <% elsif session[:refresh] && session[:comment].present? && !params[:retweet_id] %>
    <%= render "comments/comment_form", t: @comment, modal: true %>
    <% else %>
      <%= render "tweets/tweet_form", modal: true %>
    <% end %>
  <% end %>


<% if !local_assigns[:modal] %>
  <%= render "tweets/tweet_form", modal: false %>
  <%= render "tweets/timeline" %>
<% end %>

