<div class="notification comment-notification">
  <span><%= render partial: "posts/creator_info", locals: {post: post} %></span>

  <div class="post-info">
    Replying to
    <%= link_to "@#{current_user.username}", username_path(current_user.username) %>
    <%= render partial: "posts/post_body", locals: {post: post} %>

    <div class="activity-box flex">
      <%= render partial: "comments/comments", locals: { post: post } %>
      <%= render partial: "posts/reposts", locals: { post: post } %>
      <%= render partial: "posts/likes", locals: { post: post } %>
      <%= render partial: "posts/bookmarks", locals: { post: post } %>
      <%= render partial: "posts/share", locals: { post: post } %>
    </div>
  </div>
</div>



