<div class="notification comment-notification">
  <span><%= render "tweets/creator_info", t: tweet %></span>

  <div class="tweet-info">
    Replying to
    <%= link_to "@#{current_user.username}", username_path(current_user.username) %>
  <%= render "tweets/tweet_body", t: tweet %>

    <div class="activity-box flex">
      <%= render "comments/comments", t: tweet %>

      <span class="retweets">
        <%= render "retweets/retweets", t: tweet %>
      </span>

      <span class="likes">
        <%= render "tweets/likes", t: tweet %>
      </span>
      </span>

      <span class="share">
        <%= render "tweets/share", t: tweet, show_view: false %>
      </span>
    </div>
  </div>


</div>



