<%= turbo_frame_tag id="modal" do %>
  <div data-controller="turbo-modal">
    <% if !current_user.passive_follows.exists?(is_request: true) %>
      <h3>You’re up to date</h3>
      <span>When someone requests to follow you, it’ll show up here for you to accept or decline.</span>
  <% else %>
      <% current_user.passive_follows.where(is_request: true).each do |request|%>
          <% follower = request.follower %>
          <div class="follow-request" id="<%= request.id %>">
            <div>
              <%= follower.display_name %>
            </div>
            <div>
              @<%= follower.username %>
            </div><br />

            <div>
              <%= button_to "Decline", request, method: :delete %>
              <%= button_to "Accept", request, method: :patch %>
            </div>
          </div>
      <% end %>
    <% end %>
    <button data-action="click->turbo-modal#hideModal">X</button>
  </div>
<% end %>
