<%= turbo_frame_tag id="modal" do %>
  <div data-controller="turbo-modal">
    <% if !current_user.passive_follows.exists?(is_request: true) %>
      <%= render "follows/up_to_date_requests"%>
    <% else %>
      <% current_user.passive_follows.where(is_request: true).each do |request|%>
          <% user = User.find(request.follower_id) %>
          <div class="follow-request" id="<%= request.id %>">
            <div>
              <%= user.display_name %>
            </div>
            <div>
              @<%= user.username %>
            </div><br />

            <div>
              <%= button_to "Decline", request, method: :delete %>
              <%= button_to "Accept", request, method: :patch %>
            </div>
          </div>
      <% end %>
    <% end %>
    <button data-action="click->turbo-modal#hideModal">X</button>
  </div>
<% end %>
