<span class="likes">
  <%= turbo_frame_tag "like_#{t.id}" do %>
    <% if current_user.user_has_like?(t) %>
      <%= render "likes/unlike_button", tweet: t %>
    <% else %>
      <%= render "likes/like_button", tweet: t %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "like_count_#{t.id}" do %>
    <%= render "likes/like_count", t: t %>
  <% end %>
</span>
