<%= turbo_frame_tag "modal" do %>
  <div data-controller="turbo-modal" data-turbo-modal-username="<%= session[:current_user_username] %>" data-previous-page-url="<%= session[:previous_page_url] %>">
    <%= form_with model: @user, url: user_path(current_user.username) , data: { action: 'turbo:submit-end->turbo-modal#close' }, method: :patch , multipart: true do |form| %>
      <%= fields_for "user" do |f| %>
        <div>
          <%= f.label :header_picture %>
          <%= f.file_field :header_picture %>
        </div>

        <div>
          <%= f.label :profile_picture %>
          <%= f.file_field :profile_picture %>
        </div>

        <div>
          <%= f.label :display_name %>
          <%= f.text_field :display_name %>
        </div>

        <div>
          <%= f.label :biography %>
          <%= f.text_field :biography %>
        </div>

        <div>
          <%= f.label :location %>
          <%= f.text_field :location %>
        </div>

        <div>
          <%= f.label :website %>
          <%= f.url_field :website %>
        </div>

        <div>
          <%= f.label :birth_date %>
          <%= f.date_field :birth_date %>
        </div>

        <%= f.submit "Save", data: { turbo_frame: "modal" } %>
      <% end %>
    <% end %>
    <button data-action="click->turbo-modal#hideModal" data-turbo-modal-user="<%= current_user.username %>">I'll do it later</button>
  </div>
<% end %>
