  <div id="user-profile">
    <div id="display-name">
      <%= @user.display_name %> <%= lock_icon_svg if @user.account.private_visibility %>
    </div>
    <div id="username">
      <%= "@#{@user.username}" %>
    </div>
    <div id="bio">
      <%= @user.biography %>
    </div>

    <% if current_user == @user %>
        <%= button_to "Edit profile", settings_url(username: current_user.username), method: :get %>
    <% else %>
      <% if current_user.following?(@user) %>
        <%= render "unfollow", unfollow: current_user.active_follows.find_by(followed_id: @user.id),
                                user: @user,
                                params: {follow: {followed_id: @user.id }} %>
      <% else %>
        <% if current_user.sent_pending_request?(@user) %>
          <%= render "cancel_request", unfollow: current_user.active_follows.find_by(followed_id: @user.id, is_request: true),
                                      user: @user,
                              params: {follow: {followed_id: @user.id, is_request: @user.account.private_visibility }} %>
        <% else %>
          <%= render "follow", params: {follow: {followed_id: @user.id, is_request: @user.account.private_visibility }} %>
        <% end %>
      <% end %>
    <% end %>

    <div> Joined <%= @user.created_at.strftime("%B %Y") %> </div>

    <div> <%= @user.active_follows.where(is_request: false).count %> Following </div>

    <div> <%= @user.passive_follows.where(is_request: false).count %> Followers </div>

  </div>
