<%= render "search/form" %>

<%= render "profile_banner" %>

<% if @blocking %>
  <%= render "users/blocked_view", last_action: "show" %>
<% elsif @blocked %>
  <%= @user.username %> has blocked you
<% else %>
  <%= turbo_frame_tag "all-tweets-#{@user.id}" do %>
    <% if current_user.following?(@user) || current_user == @user || !@user.account.private_visibility %>
      <%= render "all_tweets", user: @user, tweets: @tweets %>
    <% else %>
      <h3>These Tweets are protected</h3>
      <span>Only approved followers can see @<%= @user.username %>’s Tweets. To request access, click Follow.</span>
    <% end %>
  <% end %>
<% end %>
