<p>Logged in as <%= current_user.username %></p>

<%# <%= User.find_by(username: params[:username]).display_name %> %>
<%= "@#{User.find_by(username: params[:username]).username}" %>
<%= "@#{User.find_by(username: params[:username]).id}" %>

<% if current_user == User.find_by(username: params[:username]) %>
  <%= button_to "Edit profile", settings_url(id: current_user.id), method: :get %>
<% else %>
  <% if current_user.follows?(@user) %>
    <%= render "unfollow", unfollow: current_user.active_follows.find_by(followed_id: @user.id),
                           user: @user,
                           params: {follow: {followed_id: User.find_by(username: params[:username]).id }}  %>
  <% else %>
    <%= render "follow" %>
  <% end %>
<% end %>


<div> Joined <%= @user.created_at.strftime("%B %Y") %> </div>

<div> <%= @user.following.count %> Following </div>

<div> <%= @user.followers.count %> Followers </div>

<div>
  Tweets:
  <% @user.created_tweets.each do |t| %>
    <div><%= t.body %></div>
  <% end %>
</div>

<div> "replies/retweets" </div>

<div> media </div>

<div> likes </div>



