<%= form_with model: MutedWord.new, url: muted_words_path, class:"flex flex-col", data: {controller: "misc"} do |f| %>
  <div>
    <%= f.text_field :body, placeholder: "Enter word or phrase", data: { action: "focus->misc#prepare input->misc#prepare" } %>
  </div>

  <div>
    <h1>Mute from</h1>
    <div>
      <%= f.label :from_timeline, "Home Timeline" %>
      <%= f.check_box :from_timeline %>
    </div>
    <div>
      <%= f.label :from_notifications, "Notifications" %>
      <%= f.check_box :from_notifications %>
    </div>
  </div>

  <div>
    <h1>Expires in: </h1>
    <div>
      <%= f.label :expiration_nil, "Until I unmute" %>
      <%= f.radio_button :expiration, :nil, checked: true %>
    </div>
    <div>
      <%= f.label :expiration_1, "24 hours" %>
      <%= f.radio_button :expiration, 1 %>
    </div>
    <div>
      <%= f.label :expiration_7, "7 days" %>
      <%= f.radio_button :expiration, 7 %>
    </div>
    <div>
      <%= f.label :expiration_30, "30 days" %>
      <%= f.radio_button :expiration, 30 %>
    </div>
  </div>

  <div class="save-wrapper">
    <div id="fake-save-muted-word">
      Save
    </div>
  </div>
<% end %>
