<%= tag.div class: "dropdown more-info-button flex", data: {controller: :dropdown, action: "click->dropdown#dropMenu"} do %>
  <%= more_info_btn_icon %>
  <%= backdrop %>

  <%= tag.div class: "dropdown-content hidden absolute top-0 right-0 bg-secondary p-2 gap-2 z-20 border-2 border-primary rounded-md whitespace-nowrap", data: {dropdown_target: :menu} do %>
    <% if post.author == current_user %>
      <div class="menuitem">
        <%= button_to delete_btn_icon, post, method: :delete, remote: true, form: { data: {turbo_confirm: "This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from Quacker search results.", header: "Delete Post?", confirm: "Delete", cancel: "Cancel" }} %>
      </div>
      <div class="menuitem">
        <%= button_to pin_btn_icon, class: "flex" %>
      </div>
      <div class="menuitem">
        <%= button_to change_who_can_reply_btn_icon, class: "flex" %>
      </div>
    <% elsif post.author != current_user && current_user.following?(post.author) %>
      <div class="menuitem">
        <%= render partial: "follows/unfollow_from_post", locals: { user: post.author } %>
      </div>
      <div class="menuitem">
        <% if current_user.account.has_muted?(post.author)%>
          <%= render partial: "muted_accounts/unmute", locals: { user: post.author } %>
        <% else %>
          <%= render partial: "muted_accounts/mute", locals: { user: post.author } %>
        <% end %>
      </div>
      <div class="menuitem">
        <% if current_user.account.has_blocked?(post.author)%>
          <%= render partial: "blocks/unblock", locals: { user: post.author } %>
        <% else %>
          <%= render partial: "blocks/block", locals: { user: post.author } %>
        <% end %>
      </div>
    <% else %>
      <div class="menuitem">
        <%= render partial: "follows/follow_from_post", locals: { user: post.author } %>
      </div>
      <div class="menuitem">
        <% if current_user.account.has_muted?(post.author)%>
          <%= render partial: "muted_accounts/unmute", locals: { user: post.author } %>
        <% else %>
          <%= render partial: "muted_accounts/mute", locals: { user: post.author } %>
        <% end %>
      </div>
      <div class="menuitem">
        <% if current_user.account.has_blocked?(post.author)%>
          <%= render partial: "blocks/unblock", locals: { user: post.author } %>
        <% else %>
          <%= render partial: "blocks/block", locals: { user: post.author } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
