<div class="post-info p-4">
  <%= render partial: "posts/creator_info", locals: { post: post } %>

  <%= render partial: "posts/post_body", locals: { post: post } %>

  <div class="activity-box flex px-2 pb-2">
    <%= render partial: "comments/comments", locals: { post: post } %>
    <%= render partial: "posts/reposts", locals: { post: post } %>
    <%= render partial: "posts/likes", locals: { post: post } %>
    <%= render partial: "posts/bookmarks", locals: { post: post } %>

    <%= render partial: "posts/share", locals: { post: post, view: view } %>
    <% if post.comment? %>
      <%= render partial: "posts/more_info_button", locals: {post: post} %>
    <% end %>
  </div>
</div>
