<%= form_with model: current_user.account, method: :patch, data: ({ turbo_confirm: "This will make them visible only to your Quacker followers.", header: "Protect your Posts?", confirm: "Protect", cancel: "Cancel" } unless current_user.account.private_visibility? ), id: "account-visibility" do |f| %>
  <div>
    <%= f.label :private_visibility, onchange: "this.form.requestSubmit()" do %>
      <div>Protect your Posts</div>
        <%= f.check_box :private_visibility,{ checked: current_user.account.private_visibility? } %>
    <% end %>
    <div>
      When selected, your Posts and other account information are only visible to people who follow you.
    </div>
  </div>
<% end %>

<%= form_with model: current_user.account, method: :patch, data: ({ turbo_confirm: "This will make your likes only visible to you.", header: "Hide your Likes?", confirm: "Hide", cancel: "Cancel" } unless current_user.account.private_likes? ), id: "account-likes-visibility" do |f| %>
  <div>
    <%= f.label :private_likes, onchange: "this.form.requestSubmit()" do %>
      <div>Hide your Likes</div>
        <%= f.check_box :private_likes,{ checked: current_user.account.private_likes? } %>
    <% end %>
    <div>
      When selected, your Likes are only visible to you.
    </div>
  </div>
<% end %>

<% if false %>
  <div>
    <%= link_to "Photo tagging", settings_tagging_path %>
    <div id="current-tagging-setting">
      <% if current_user.account.allow_media_tagging_turned_off? %>
        <span>Off</span>
      <% elsif current_user.account.allow_media_tagging_anyone_can_tag? %>
        <span>Anyone can tag you</span>
      <% else %>
        <span>Only people you follow can tag you</span>
      <% end %>
    </div>
  </div>
<% end %>
