<div class="audience-and-tagging">
  <%= link_to "Audience", settings_audience_and_tagging_path %>
</div>
<div class="your-posts">
  <%= link_to "Your posts", settings_your_posts_path %>
</div>
<div class="content-you-see">
  <%= link_to "Content you see", settings_content_you_see_path %>
</div>
<div class="mute-and-block">
  <%= link_to "Mute and block", settings_mute_and_block_path %>
</div>
<div class="direct-messages">
  <%= link_to "Direct messages", settings_direct_messages_path %>
</div>
