<%= form_with model: current_user.account, method: :patch, id: "advanced-nofitication-filters" do |f| %>
  <div>
    <%= f.label :muted_notif_you_dont_follow, onchange: "this.form.requestSubmit()" do %>
      <div>You don't follow</div>
      <%= f.check_box :muted_notif_you_dont_follow, { checked: current_user.account.muted_notif_you_dont_follow? } %>
    <% end %>
  </div>
  <div>
    <%= f.label :muted_notif_dont_follow_you, onchange: "this.form.requestSubmit()" do %>
      <div>Who don't follow you</div>
      <%= f.check_box :muted_notif_dont_follow_you, { checked: current_user.account.muted_notif_dont_follow_you? } %>
    <% end %>
  </div>
  <div>
    <%= f.label :muted_notif_new_account, onchange: "this.form.requestSubmit()" do %>
      <div>With a new account</div>
      <%= f.check_box :muted_notif_new_account, { checked: current_user.account.muted_notif_new_account? } %>
    <% end %>
  </div>
  <div>
    <%= f.label :muted_notif_default_profile_pic, onchange: "this.form.requestSubmit()" do %>
      <div>Who have a default profile photo</div>
      <%= f.check_box :muted_notif_default_profile_pic, { checked: current_user.account.muted_notif_default_profile_pic? } %>
    <% end %>
  </div>
  <div>
    <%= f.label :muted_notif_no_confirm_email, onchange: "this.form.requestSubmit()" do %>
      <div>Who haven't confirmed their email</div>
      <%= f.check_box :muted_notif_no_confirm_email, { checked: current_user.account.muted_notif_no_confirm_email? } %>
    <% end %>
  </div>
  <div>
    These filters won’t affect notifications from people you follow.
  </div>
<% end %>
